/* You can add global styles to this file, and also import other style files */
// bootstrap上書き


// material上書き
// .mat-icon {
//   vertical-align: middle;
// }

.flex-auto {
  flex: 1 1 auto!important;
}
.mat-menu-panel.ui-menu-resize {
  max-width: none;
  min-width: 400px;
}

// yoshiが適当に作りました。
// コメント等のメンションにおいて、ユーザーをサジェストする一覧用メニューのラッパー
// 記入中のテキストエリアの幅に合わせたメニューサイズにする目的
.mat-menu-panel.ui-menu-suggest {
  max-width: 100%;
  max-height: 500px;
}

// どこにおくか分からないやつを書いておく用
.breadcrumb {
  background-color: $gray-lightest;
  border-radius: 0;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: .5rem 1rem;
  font-size: .8rem;
  color: $gray-light;
  .breadcrumb-item.active {
    color: $gray;
    font-weight: 600;
  }
}

.btn > .mat-icon {
  height: auto !important;
  width: auto !important;
}
.btn > .material-icons {
  font-size: inherit !important;
}
.mat-dialog-title {
  background-color: #f3f3f3;
  margin-top: -24px !important;
  margin-left: -24px !important;
  margin-right: -24px !important;
  padding: 10px 20px !important;
  font-size: 15px !important;
}
.mat-dialog-actions:last-child {
  margin-left: -24px !important;
  margin-right: -24px !important;
  margin-top: 24px !important;
  padding: 12px !important;
  border-top: 1px solid #ececec;
}
.ui-btn-tree-status.mat-button {
  border-radius: 3rem;
  background-color: #fff;
  border: 1px solid #ccc;
  &.is-spinner {
    line-height: 30px;
    padding-top: 4px;
  }
  .mat-spinner {
    display: inline-block;
    margin: 0 auto;
  }
}

*:focus {
  outline: none !important;
}
h1 {
  font-weight: 100;
  margin-bottom: 1.5rem;
}
h2,h3 {
  font-weight: 300;
  margin-bottom: 1.5rem;
}
// loading
.mat-spinner {
  margin: 20px auto;
  &.mat-primary path {
    stroke: #333;
  }
}
.ui-loading {
  background-color: rgba(247, 247, 247, 0.5);
  text-align: center;
  height: 100%;
  height: 100vh;
  width: 100%;
  .align-self-center {
    margin: 0 auto;
  }
  .mat-spinner {
    margin: 0 auto;
    // height: 100%;
    // height: 100vh;
  }
}
// avatar
.ui-area-avatar {
  width: 36px;
  height: 36px;
  overflow: hidden;
  // margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.ui-page-header {
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // align-items: center;
  padding: 20px;
  h1 {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 300;
  }
  .ui-badge-project {
  }
  .mat-button-toggle-label {
    margin-bottom: 0;
  }
}
.ui-header-primary {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  h1 {
    color: #35363d;
  }
}
.ui-header-primary.is-tree-header,
.ui-header-primary.is-project-header {
  border-bottom: 0;
  background-color: rgb(84, 85, 95);
  margin-bottom: 20px;
  .ui-header-type {
    padding: 10px;
    font-size: .8rem;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    .material-icons {
      font-size: .8rem;
      height: auto;
    }
  }
  h1 {
    color: #000;
  }
}

.ui-header-primary.is-project-header {
  .ui-header-title {
    margin: 20px 100px -40px 100px;
    padding: 20px;
    border-radius: 4px;
    background-color: #fafafa;
    box-shadow: 0 0 5px -1px rgba(0,0,0,.2);
  }
  h1 {
    margin-left: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
  }
}
.ui-header-primary.is-tree-header {
  .ui-header-title {
    a.ui-project-name {
      color: #7F8FA4;
      &:hover {
        text-decoration: none;
      }
    }
    .ui-area-avatar {
      width: 24px;
      height: 24px;
    }
    h1 {
      font-size: 1.4rem;
      margin-top: 1rem;
    }
  }
}
.ui-title-page {
  font-size: 1rem;
}
// navigation
.ui-layout-navigation {
  .ui-btn-switch-org {
    min-width: 60px;
    width: 60px;
    height: 60px;
    padding: .5rem;
    margin: 10px auto;
    display: block;
    color: #000;
    font-size: .8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    img {
      width: 1rem;
      margin-bottom: 3px;
    }
  }
}
// header
// view/src/app/components/parts/header/header.component.scss に置いたけど効果なかったので、ここに置く
.mat-grid-tile {
  &.ui-header-logo .mat-figure {
    justify-content: flex-start;
  }
  &.ui-header-nav .mat-figure {
    justify-content: flex-end;
  }
}
// list
.ui-area-parts-list {
  .list-group-item {
    background-color: inherit;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding: 1.5rem 1.25rem;
    .badge-pill .rounded-circle {
      margin-left: -3px;
    }
  }
  .list-group-item:first-child,
  .list-group-item:last-child {
    border-radius: 0;
  }
  p {
    display: block;
    width: 100%;
    margin-bottom: .1rem;
    font-size: .8rem;
    color: #8e8e8e;
  }
  .is-strong {
    font-weight:600;
    font-size: 1.2rem;
    color :#000;
  }
  .is-link:hover {
    color: $red;
  }
  .list-group-item.is-header {
    background-color: #f2f2f2;
    color: #6f6f6f;
    font-size: 1rem;
    line-height: 2;
  }
}
.ui-area-task-list {
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  .div_border {
    button.close {
      display: none;
    }
  }
  .div_border:hover {
    button.close {
      display: inline-block;
      position: absolute;
      right: -8px;
      top: -12px;
    }
  }
}


// treeページ
.ui-page-tree-list {
}
// settingページ
.ui-page-settings {
  .col-form-label {
    font-weight: 600;
    text-align: right;
  }
  .mat-mini-fab {
    position: absolute;
    top: -20px;
    left:0;
  }
  // .mat-mini-fab .mat-icon {
  //   padding: 0;
  // }
}
.mat-dialog-container {
  max-width: none !important;
}

.ui-modal-task-detail {
  &.mat-dialog-content {
    // margin-top : -24px;
  }
  .ui-modal-header {
    // padding: 24px;
    // margin-left: -24px;
    // margin-right: -24px;
    // background-color: #ebecef;
  }
  .modal-title {
    font-weight: 100;
  }
  .ml-auto {
    width : 200px;
  }
}

.ui-mention-self {
  background: #eaf5fc;
  color: #b9b871;
}
.ui-mention-others {
  background: #eaf5fc;
  color: #0576b9;
}
