<div class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">CMoNoTH</h1>
    <p class="lead text-muted">サインアップ</p>
    <!--not have token-->
    <div *ngIf="succeeded; else formTemplate">
      <div class="alert alert-success">
        You Signed Up!
      </div>
    </div>
    <hr />
    <p>
      <app-a-navigate type="button" path="/auth/sign-in" class="btn btn-primary">
        <ng-container button>サインイン</ng-container>
      </app-a-navigate>
    </p>
    <p>
      <app-a-navigate type="a" path="/">
        <ng-container a>ランディングページ</ng-container>
      </app-a-navigate>
    </p>
  </div>
</div>

<ng-template #formTemplate>
  <div class="mx-auto" style="width: 500px;">
    <form [formGroup]="form" (ngSubmit)="onSignUp()">
      <div class="form-group row">
        <div class="col-sm-2 col-form-label">Email</div>
        <div class="col-sm-10">
          <input type="text" [value]="email" class="form-control" disabled />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
          <input type="text" name="Username" class="form-control" placeholder="Username" [formControl]="slaveUsername" />
          <app-a-spinner [spinning]="!!(isChecking$ | async)" [diameter]="20"></app-a-spinner>
        </div>
        <div *ngIf="username.valid" class="col-sm-10">
          done
          <mat-icon>done</mat-icon>
        </div>
        <div *ngIf="username.errors?.pattern" class="alert alert-danger">
          <div class="text-danger">文字形式は <em>英数字・_ or -</em></div>
        </div>
        <div *ngIf="username.errors?.isNewName">
          そのユーザー名は既に存在します。
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" placeholder="Password" formControlName="password" />
        </div>
      </div>
      <div *ngIf="password.touched">
        <div *ngIf="password.errors?.minlength">
          <p class="alert alert-danger text-danger">5文字以上・255文字以下でお願いいたします。</p>
        </div>
        <div *ngIf="password.errors?.pattern">
          <p class="alert alert-danger text-danger">a~z / A~Z / 0~9 / -_!?=.*のみです</p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid || loading">
        サインアップ
      </button>
      <app-a-spinner [spinning]="loading"></app-a-spinner>
    </form>
  </div>
</ng-template>
