<mat-toolbar>
  <mat-toolbar-row>
    <span>
      <a routerLink="/landing" routerLinkActive="active" class="ui-ml-10"
      ><img src="assets/images/logo_black.png" width="150" alt="ランディングページ"
      /></a>
    </span>
    <span class="ui-space"></span>
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let link of links"
        [routerLink]="link.link"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ link?.name }}
      </a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<ng-content></ng-content>

<div class="text-center">
  <footer>
    <p>
      <small>&copy; copyright 2017 {{ companyName }}</small>
    </p>
  </footer>
</div>
