<app-m-org-change></app-m-org-change>
<ul class="nav flex-column">
  <li class="nav-item text-center">
    <div class="nav-link ui-cursor" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>home</mat-icon><br />
      TOP
    </div>
  </li>
  <li class="nav-item text-center">
    <div class="nav-link ui-cursor" routerLink="./projects" routerLinkActive="active" [ngClass]="{ active: isProject }">
      <mat-icon>folder</mat-icon><br />
      プロジェクト
    </div>
  </li>
  <li class="nav-item text-center">
    <div class="nav-link ui-cursor" routerLink="./trees" routerLinkActive="active" [ngClass]="{ active: isTree }">
      <mat-icon>check_circle</mat-icon><br />
      TREE
    </div>
  </li>
  <li *ngIf="user$ | async as user" class="nav-item text-center">
    <div *ngIf="user?.is_admin" class="nav-link ui-cursor" routerLink="/admin/guideline" routerLinkActive="active">
      <mat-icon>code</mat-icon><br />
      DEV
    </div>
  </li>
</ul>

<div class="fixed-bottom text-center">
  <div class="mt-3">
    <span class="ui-cursor" routerLink="/help" matTooltip="HELP" matTooltipPosition="right" target="_blank"><mat-icon>help</mat-icon></span>
  </div>
  <div class="mt-3">
    <!--    <app-m-feedback></app-m-feedback>-->
  </div>
  <div class="p-3 ui-link-account">
    <app-m-settings-icon></app-m-settings-icon>
  </div>
</div>
