<mat-list fxLayout="column" fxFill>
  <mat-list-item>
    <app-m-org-change></app-m-org-change>
  </mat-list-item>
  <mat-list-item routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" matRipple>
    <mat-icon mat-list-icon>home</mat-icon>
    <div mat-line class="text">TOP</div>
  </mat-list-item>
  <mat-list-item routerLink="./projects" routerLinkActive="active" [ngClass]="{ active: isProject }" matRipple>
    <mat-icon mat-list-icon>folder</mat-icon>
    <div mat-line class="text">プロジェクト</div>
  </mat-list-item>
  <mat-list-item routerLink="./trees" routerLinkActive="active" [ngClass]="{ active: isTree }" matRipple>
    <mat-icon mat-list-icon>check_circle</mat-icon>
    <div mat-line class="text">TREE</div>
  </mat-list-item>
  <ng-container *ngIf="user$ | async as user">
    <mat-list-item *ngIf="user?.isAdmin" routerLink="/admin/guideline" routerLinkActive="active" matRipple>
      <mat-icon mat-list-icon>code</mat-icon>
      <div mat-line class="text">DEV</div>
    </mat-list-item>
  </ng-container>
  <span fxFlex></span>
  <mat-list-item matRipple>
    <span class="ui-cursor" routerLink="/help" matTooltip="HELP" matTooltipPosition="right" target="_blank"><mat-icon>help</mat-icon></span>
  </mat-list-item>
<!--  <mat-list-item>-->
<!--    <app-m-feedback></app-m-feedback>-->
<!--  </mat-list-item>-->
  <mat-list-item matRipple>
    <app-m-settings-icon class="text"></app-m-settings-icon>
  </mat-list-item>
</mat-list>
