<ol class="breadcrumb">
  <li class="breadcrumb-item">{{ name$ | async }}</li>
  <li class="breadcrumb-item active">Projects</li>
</ol>

<div class="ui-main-inner ui-page-project-list">
  <!-- TODO: loading中をいれたい -->
  <div class="d-flex justify-content-between">
    <h2 class="ui-title-page">
      <mat-icon>folder_open</mat-icon>
      プロジェクト一覧
    </h2>
    <div><app-m-project-create></app-m-project-create></div>
  </div>
  <div class="ui-area-parts-list">
    <app-o-projects></app-o-projects>
  </div>
</div>
