<div *ngFor="let task of tasks" class="m-tasks">
  <div
    [style.width.px]="task.width"
    [style.height.px]="task.height"
    [ngClass]="checkTaskStyle(task.id)"
    [style.position]="'absolute'"
    [style.top.px]="task.top"
    [style.left.px]="task.left"
    (click)="onSelectTask($event, task)"
    (mouseenter)="onTaskMouseEnter(task.id)"
    (mouseleave)="onTaskMouseLeave()"
  >
    <!--<app-m-task-labels [taskPrimaryId]="task.id" [taskId]="task.task_id"></app-m-task-labels>-->
    <!--    <div [ngClass]="{ 'at-least-selected-one': selectedSome }" *ngIf="isTaskGroupMenuOpened">-->
    <!--      <input type="checkbox" [ngClass]="{ 'this-task-selected': form.controls[task?.id]?.value }" [formControl]="form.controls[task?.id]" (click)="onStopPropagation( $event )">-->
    <!--    </div>-->
    <app-m-task-delete [task]="task"></app-m-task-delete>
    <p>{{ task.name }}</p>
    <button mat-mini-fab type="button" class="ui-btn-plus" (click)="onCreateChild($event, task)"><mat-icon>add</mat-icon></button>
  </div>
</div>
