<div class="container text-center">
  <h2 class="form-signin-heading">{{ 'サインイン' }}</h2>
  <form class="form-signin" [formGroup]="form" (ngSubmit)="onSignIn()">
    <div class="alert alert-danger" *ngIf="!!errorMessage">
      <p class="text-danger">{{ errorMessage }}</p>
    </div>
    <div *ngIf="email.touched">
      <div *ngIf="email.errors?.email">
        <p class="alert alert-danger text-danger">Email形式でお願いします。</p>
      </div>
      <div *ngIf="email.errors?.required">
        <p class="alert alert-danger text-danger">Email入力をお願いします。</p>
      </div>
    </div>
    <label class="sr-only">Email</label>
    <input type="email" class="form-control" name="Email" [formControl]="email" />
    <div *ngIf="password.touched">
      <div *ngIf="password.errors?.minlength || password.errors?.maxlength">
        <p class="alert alert-danger text-danger">5文字以上・255文字以下でお願いいたします。</p>
      </div>
      <div *ngIf="password.errors?.pattern">
        <p class="alert alert-danger text-danger">a~z / A~Z / 0~9 / -_!?=.*のみです</p>
      </div>
    </div>
    <label class="sr-only">Password</label>
    <input type="password" class="form-control" name="Password" [formControl]="password" />
    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="form.invalid || requested">
      {{ 'サインイン' }}
    </button>
    <app-a-navigate type="a" path="/passwordReset">
      <ng-container a>{{ 'パスワードを忘れた方はこちら' }}</ng-container>
    </app-a-navigate>
    <hr />
    <!--    <app-a-oauth-button [type]="'github'" ></app-a-oauth-button>-->
    <!--<app-a-oauth-button [type]="'facebook'" ></app-a-oauth-button>-->
    <!--<app-a-oauth-button [type]="'google'" ></app-a-oauth-button>-->
  </form>
</div>

<app-a-spinner [spinning]="signingIn"></app-a-spinner>
