<div class="ui-signin">
  <mat-card class="signin-card">
    <mat-card-header>
      <mat-card-title class="signin-title">サインイン</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSignIn()" class="signin-form">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type="email" matInput name="Email" [formControl]="email" />
          <ng-container *ngIf="email.touched">
            <mat-error *ngIf="email.errors?.email">Email形式でお願いします。</mat-error>
            <mat-error *ngIf="email.errors?.required">Email入力をお願いします。</mat-error>
          </ng-container>
        </mat-form-field>
        <mat-form-field>
          <mat-label class="sr-only">Password</mat-label>
          <input type="password" matInput name="Password" [formControl]="password" />
          <ng-container *ngIf="password.touched">
            <mat-error *ngIf="password.errors?.minlength || password.errors?.maxlength">5文字以上・255文字以下でお願いいたします。</mat-error>
            <mat-error *ngIf="password.errors?.pattern">a~z / A~Z / 0~9 / -_!?=.*のみです</mat-error>
          </ng-container>
        </mat-form-field>
        <div *ngIf="!!errorMessage">
          <p>{{ errorMessage }}</p>
        </div>
        <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid || requested">
          サインイン
        </button>
        <app-a-navigate type="a" path="/passwordReset">
          <ng-container a>パスワードを忘れた方はこちら</ng-container>
        </app-a-navigate>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<app-a-spinner [spinning]="signingIn"></app-a-spinner>
